@using core.models
@model core.models.Vehicle

@{
    ViewData["Title"] = "Create";
    List<VehicleType> types = (List<VehicleType>)ViewData["vehicleTypes"];
    List<VehicleBrand> brands = (List<VehicleBrand>)ViewData["vehicleBrands"];
    List<UserDriver> drivers = (List<UserDriver>)ViewData["drivers"];
    List<UserBoss> bosses = (List<UserBoss>)ViewData["bosses"];
}

<h1>Create</h1>

<h4>Vehicle</h4>
<hr />
@*<h2>@TempData["SuccessMessage"]</h2>*@
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleTypeId" class="control-label">Typ vozidla</label>
                <select asp-for="VehicleTypeId" class="form-control">
                    @foreach (var item in types)
                    {
                        <option value="@item.Id">@item.TypeName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="VehicleBrandId" class="control-label">Značka vozidla</label>
                <select asp-for="VehicleBrandId" class="form-control">
                    @foreach (var item in brands)
                    {
                        <option value="@item.Id">@item.BrandName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Vin" class="control-label"></label>
                <input asp-for="Vin" class="form-control" />
                <span asp-validation-for="Vin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicensePlate" class="control-label"></label>
                <input asp-for="LicensePlate" class="form-control" />
                <span asp-validation-for="LicensePlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vintage" class="control-label"></label>
                <input asp-for="Vintage" class="form-control" />
                <span asp-validation-for="Vintage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchasedOn" class="control-label"></label>
                <input asp-for="PurchasedOn" class="form-control" />
                <span asp-validation-for="PurchasedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverId" class="control-label">Řidič</label>
                <select asp-for="DriverId" class="form-control">
                    @foreach (var item in drivers)
                    {
                        <option value="@item.Id">@item.FirstName @item.LastName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="BossId" class="control-label">Správce</label>
                <select asp-for="BossId" class="form-control">
                    @foreach (var item in bosses)
                    {
                        <option value="@item.Id">@item.FirstName @item.LastName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
